<div class="contentGame">
  <div class="divGridConteiner">
    <div class="divGridPerfil">
      <img src="../../../assets/acerca/miFoto.jpeg" width="300px" height="auto">
      <div class="divGrid">
        <h2>Nombre: Carlos</h2>
        <h2>Apellido: Castro</h2>
        <h2>Correo: castrocarlos313@gmail.com</h2>
        <h2>Legajo: 107986</h2>
      </div>
    </div>
    <h2>Juego elegido:</h2>
      <h3 style="white-space: pre-line;">El juego elegido fue el tetris, no es una recreacion 100% fiel al original pero sus mecanicas siguen siendo las misma.<br>
      El juego consiste en una figura que va bajando y cuando se encuentra al fondo del rectangulo se cambia de figura,<br>
      esta figura pueden rotar y se consigue cuando se consigue formar una fila con estas. Cuantos mas puntos se tenga mayor<br>
      sera la velocidad de caida y en caso de desbordar el rectangulo sera fin del juego <br></h3>
  </div>
</div>
