
<mat-sidenav-container class="example-container" style="background: transparent;">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="conteinerNav">
      <app-user-email style="margin-left: 5px;"></app-user-email>
      <button mat-button (click)="LogOut()" style="margin-bottom: 10px;margin-left: 5px;">LogOut</button>
      <mat-divider></mat-divider>
      <button mat-button class="btnNav" (click)="SideNavBtnAccion()" routerLink='TaTeTI/startTTT' routerLinkActive="active">Tateti</button>
      <button mat-button class="btnNav" (click)="SideNavBtnAccion()" routerLink='pierdraPapelTijera/startPPT' routerLinkActive="active">Piedra papel tijera</button>
      <button mat-button class="btnNav" (click)="SideNavBtnAccion()" routerLink='tetris/startTetris' routerLinkActive="active">Tetris</button>
      <button mat-button class="btnNav" (click)="SideNavBtnAccion()" routerLink='memotest/startMemotest' routerLinkActive="active">Memotest</button>
      <button mat-button class="btnNav" (click)="SideNavBtnAccion()" routerLink='aritmetica/startAritmetica' routerLinkActive="active">Aritmetica</button>
      <button mat-button class="btnNav" (click)="SideNavBtnAccion()" routerLink='anagramas/startAnagramas' routerLinkActive="active">Anagramas</button>
      <button mat-button class="btnNav" (click)="SideNavBtnAccion()" routerLink='adivinarNumero/startAdivinar' routerLinkActive="active">Adivina el Numero</button>
      <button mat-button class="btnNav" (click)="SideNavBtnAccion()" routerLink='scores' routerLinkActive="active">Scores</button>
    </div>
    <div class="about">
      <button mat-button class="btnNav" (click)="SideNavBtnAccion()" routerLink='acerca' routerLinkActive="active">Acerca de</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content >
    <p><button mat-button class="btnIcon" (click)="sidenav.toggle()"><img src="..\..\..\assets\icons\mainPage\menu.svg"></button></p>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


