<div id="fade" class="animationFadeIn">
  <div id="contentInput">
    <img src="..\..\..\assets\icons\login\logo.png" class="imgLogin">

    <h1 style="margin: 10px; margin-top: 30px;">Login</h1>

    <mat-form-field class="inputLogin">
      <mat-label>Correo</mat-label>
      <input matInput [(ngModel)]="correo">
    </mat-form-field>

    <mat-form-field class="inputLogin">
      <mat-label>Clave</mat-label>
      <input  matInput type="password" [(ngModel)]="clave">
    </mat-form-field>

    <span>{{error}}</span>
    <br>
    <br>
    <table>
      <tr>
        <td>
          <button mat-raised-button (click)="Login()">Ingresar</button>
        </td>
        <td>
          <button mat-raised-button (click)="Register()">Registrar</button>
        </td>
      </tr>
    </table>
  </div>
</div>
