<div id="fade" class="animationFadeIn">

  <div id="conteiner" class="contentInput">
    <table>
      <tr>
        <td>
          <h1 style="margin: 10px; margin-top: 30px;">Register</h1>
        </td>
        <td>
          <p><button mat-button class="btnIcon" (click)="Cerrar()"><img src="../../../assets/icons/register/close-24px.svg"></button></p>
        </td>
      </tr>
    </table>

    <mat-form-field class="inputLogin">
      <mat-label>Correo</mat-label>
      <input matInput [(ngModel)]="correo">
    </mat-form-field>

    <mat-form-field class="inputLogin">
      <mat-label>Clave</mat-label>
      <input matInput type="password" [(ngModel)]="clave">
    </mat-form-field>

    <mat-form-field class="inputLogin"appearance="fill">
      <mat-label>Sexo</mat-label>
      <mat-select [(ngModel)]="sexo">
        <mat-option value="f">Femenino</mat-option>
        <mat-option value="m">Masculino</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="inputLogin"appearance="fill">
      <mat-label>Perfil</mat-label>
      <mat-select [(ngModel)]="perfil">
        <mat-option value="usuario">Usuario</mat-option>
        <mat-option value="tester">Tester</mat-option>
        <mat-option value="admin">Admin</mat-option>
      </mat-select>
    </mat-form-field>

    <span>{{error}}</span>

    <button mat-raised-button (click)="btn_registrar()">Registrar</button>

  </div>
</div>
