<div [class]="startMenu">
  <div class="divConteinerStartMenu">
    <div class="divGrid">
      <h1>Bienvenido</h1>
      <h3>Correo: {{correo}}</h3>
      <h3>ID: {{id}}</h3>
      <div class="divGridStartMenu">
        <button mat-button class="btnNav" routerLink='TaTeTI/startTTT' routerLinkActive="active">Tateti</button>
        <button mat-button class="btnNav" routerLink='pierdraPapelTijera/startPPT' routerLinkActive="active">Piedra papel tijera</button>
        <button mat-button class="btnNav" routerLink='tetris/startTetris' routerLinkActive="active">Tetris</button>
        <button mat-button class="btnNav" routerLink='memotest/startMemotest' routerLinkActive="active">Memotest</button>
        <button mat-button class="btnNav" routerLink='aritmetica/startAritmetica' routerLinkActive="active">Aritmetica</button>
        <button mat-button class="btnNav" routerLink='anagramas/startAnagramas' routerLinkActive="active">Anagramas</button>
        <button mat-button class="btnNav" routerLink='adivinarNumero/startAdivinar' routerLinkActive="active">Adivina el Numero</button>
      </div>
    </div>
  </div>
</div>

